@media (min-width: 1024px) {
  .navbar,
  .hero-content,
  .employees,
  .offer,
  .footer {
    padding-left: 50px;
  }
  .content {
    width: 960px;
    margin: 0 70px 0 100px;
  }
  .navbar {
    margin: 0;
  }
  .hero-content {
    width: 577px;
  }
  .employees-content {
    align-items: flex-start;
  }
  .employee {
    flex-direction: row;
    gap: 30px;
  }
  .employees-header {
    text-align: start;
  }
  .employee:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  .employee-info {
    width: 750px;
  }
  .offer-header {
    text-align: start;
  }
  .offer-content {
    align-items: center;
  }
  .offer-cards {
    flex-direction: row;
    flex-wrap: wrap;
    width: 720px;
  }
  .offer-square {
    width: 198px;
    height: 194px;
  }
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    height: 71px;
  }
}
.navbar-content {
  justify-content: space-between;
}
.navbar .nav-links a {
  color: #f1f1f1;
  text-decoration: none;
  margin-right: 80px;
}
